:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --one-hundred-percent: 100%;
  --main-color:greenyellow;
  --secundary-color:yellow;
  --tercer-color:#ef4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: 80px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 24px;
  &:hover {
    border-color: #646cff;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* reset start */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  width: var(--one-hundred-percent);
  height: var(--one-hundred-percent);
  overflow-x: hidden;
}
/* reset end */

#app {
  overflow-x: hidden;

  --auto-grid-min-size: 1fr;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

messages-states > #messages_container {
  
  background: var(--secundary-color);
  width: 100%;
  height: var(--one-hundred-percent);
  /* height: 100px; */
  & > h1 {
  width: 100%;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
  font-size: 2.7vh;
  /* overflow-y: scroll; */
  height: var(--one-hundred-percent);
}
}
food-list{
  text-align: center;
  & #food_images {
    background-color: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    & img {
      width: 10vh;
      cursor: pointer;
      /* background: blueviolet; */
      border-radius: 50%;
      &:active {
        transform: scale(1.5);
      }
    }
  }
}

#progress_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* img start */
  & img {
    position: absolute;
    z-index: 2;
  margin-top: 30px;

    left: -4px;
    height: var(--one-hundred-percent);
  }
  & progress#life {
  --bg-progress-value: var(--main-color);
  --border-r-progress: 35px;
  width: var(--one-hundred-percent);
  height: 5em;
  margin-top: 30px;
  background: white;
  color: #0a10ab;
  border-radius: var(--border-r-progress);
  &::-webkit-progress-bar {
    border-radius: var(--border-r-progress);
    background: white;
    /* color of progress bar */
    color: #0a10ab;
  }
  &[value]::-webkit-progress-value {
    background: var(--bg-progress-value);
    border-radius: var(--border-r-progress);
  }
  &[value]::-moz-progress-bar {
    background: var(--bg-progress-value);
  }
}
}


#old {
  width: var(--one-hundred-percent);
  grid-gap: 20px;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  place-content: center;
  place-items: center;
  grid-template-rows: 1fr 60px;
  /* grid-auto-flow: column; */

  /* texto detalle de footer */
  & .read-the-docs {
  width: 100%;
  text-align: center;
  display: grid;
  grid-column: 1 / 4;
  grid-row: 2 / end;
  color: #888;
  /* background: red; */
}
}

login-component {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: -50px;
  top: 50px;
  & #login_container {
    position: relative;
    right: 40px;
    visibility: hidden;
    width: 85%;
    height: 45%;
    font-size: 2vh;
    border-radius: 10px;
    font-weight: bold;
    background: white;
    border: 3px solid var(--main-color);
    overflow: hidden;
    & label {
      text-align: center;
      display: block;
      width: var(--one-hundred-percent);

      color: black;
    }
    & input {
      display: block;
      width: var(--one-hundred-percent);
      height: 25%;
    }
  }
  & img.cat_Icon {
    text-align: center;
    transform: translate(20%, 10%);
    width: 100px;
    cursor: pointer;
  }
}

cat-svg > svg {
  width: 80px;
  stroke: black;
  stroke-width: 13px;

  stroke: var(--tercer-color);
  fill: black;

  cursor: pointer;
}
cat-body {
  position: relative;
  width: var(--one-hundred-percent);
  /* overflow: scroll; */
  height: 140px;

  & #cat_container {
    /* overflow: hidden; */
    /* height: 120px; */
    width: var(--one-hundred-percent);
    position: relative;
    z-index: 1;
    background: none;
    color: #000;

    /* 3d letrero start */
    & #letrero_3d {
      width: 20%;
      height: 2rem;
      inset: 0;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      background: red;
      color: #ffffff;
      position: absolute;
      &:hover {
        background: yellow;
        color: #000000;
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1.5);
        background: green;
        color: #ffffff;
        z-index: 2;
      }
    }
  }
}
#cat_container > #character_container {
  height: max-content;
  max-height: 150px;

  /* grid-template-rows: max-content; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-content: center;
  place-items: center;

  box-sizing: border-box;
  & > img {
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    max-height: 40vh;
    max-width: fit-content;
    height: auto;
    position: relative;
  }
  & canvas {
    margin: auto;
    background: none;
    width: 100%;
    height: 200px;
    cursor: pointer;
  }
}

/* CONTROLES START */
div.dg.ac {
  z-index: 2;
  & div.dg.main.a {
    /* left: -60px; */
    position: absolute;
    /* z-index: 1; */
    background-color: red;
    color: var(--tercer-color);
  }
}
/* CONTROLES END */
